In [2]:
# pip install ipython-sql use it to install sql magic to jupyter.....

import sqlite3 as sql
import pandas as pd

In [3]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [4]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

## Selecting Albums to Purchase

In [5]:
%%sql

WITH
    invoice_lines_genres AS
    (
        SELECT 
            il.invoice_id,
            g.name as genre
        FROM genre g
        INNER JOIN track t ON t.genre_id = g.genre_id
        INNER JOIN invoice_line il ON t.track_id = il.track_id
    ),
    invoice_genre AS
    (
        SELECT 
            i.invoice_id,
            i.billing_country,
            ilg.genre
        FROM invoice i
        INNER JOIN invoice_lines_genres ilg ON ilg.invoice_id = i.invoice_id
        WHERE billing_country = "USA"
    )
    
    
SELECT genre,
       COUNT(invoice_id) tracks_sold,
        CAST(COUNT(invoice_id) AS FLOAT)  / CAST((SELECT COUNT(invoice_id) FROM invoice_genre) AS FLOAT) percentage_sold
        FROM invoice_genre
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10

 * sqlite:///chinook.db
Done.

[('Rock', 561, 0.5337773549000951),
 ('Alternative & Punk', 130, 0.12369172216936251),
 ('Metal', 124, 0.11798287345385347),
 ('R&B/Soul', 53, 0.05042816365366318),
 ('Blues', 36, 0.03425309229305423),
 ('Alternative', 35, 0.03330161750713606),
 ('Latin', 22, 0.02093244529019981),
 ('Pop', 22, 0.02093244529019981),
 ('Hip Hop/Rap', 20, 0.019029495718363463),
 ('Jazz', 14, 0.013320647002854425)]

As we can see, Rock music was the most succesfull genre with over 50% of sales in the US!.
From here we could say that Blues Punk and Pop can be introduced in the store.

## Analyzing Employee Sales Performance

In [6]:
%%sql

WITH
    employee_invoicing AS
    (
        SELECT 
            e.first_name||" "||e.last_name AS employee_name,
            e.title AS position,
            e.*,
            c.first_name||" "||c.last_name AS customer_name,
            c.customer_id
        FROM employee AS e
        INNER JOIN customer c ON c.support_rep_id = e.employee_id
        WHERE position = "Sales Support Agent"
    )
    
    

SELECT 
    ei.employee_name,
    SUM(i.total) Total_Sales,
    ei.hire_date
    FROM employee_invoicing ei
    INNER JOIN invoice i ON i.customer_id = ei.customer_id
    GROUP BY 1
    ORDER BY 1

 * sqlite:///chinook.db
Done.

[('Jane Peacock', 1731.5100000000039, '2017-04-01 00:00:00'),
 ('Margaret Park', 1584.0000000000034, '2017-05-03 00:00:00'),
 ('Steve Johnson', 1393.920000000002, '2017-10-17 00:00:00')]

Here we see that Jane is way ahead other sales agents with about 2000 dollars more. Steve is in last place. One explanation could be the experience that each of them has in the company. For example Jane, was hired 6 months before Steve and one month before Margaret.

## Analyzing Sales by Country

In [7]:
%%sql

WITH
one_customers AS
(
    select COUNT(customer_id) nr_customers, country from customer
    group by 2
    HAVING nr_customers = 1
),
new_customer AS
(
    SELECT *,
       CASE
        WHEN (country IN (SELECT country from one_customers)) THEN 'Other'
        ELSE country
        END AS new_country
        FROM customer
),
new_customer_sorted AS
(
    SELECT *, 
        CASE
            WHEN new_country = "Other" THEN 1
            ELSE 0
        END AS sort from new_customer
)

SELECT ncs.new_country country,
       COUNT(DISTINCT ncs.customer_id) Total_customers,
       ROUND(SUM(i.total), 2) Total_sales,
       ROUND(SUM(i.total) / COUNT(DISTINCT ncs.customer_id), 2) avg_sales_per_customer,
       ROUND(SUM(i.total) /  COUNT(i.invoice_id), 2) avg_order_value
    
FROM new_customer_sorted AS ncs
INNER JOIN invoice i ON i.customer_id=ncs.customer_id
GROUP BY 1
ORDER BY ncs.sort ASC

 * sqlite:///chinook.db
Done.

[('Brazil', 5, 427.68, 85.54, 7.01),
 ('Canada', 8, 535.59, 66.95, 7.05),
 ('Czech Republic', 2, 273.24, 136.62, 9.11),
 ('France', 5, 389.07, 77.81, 7.78),
 ('Germany', 4, 334.62, 83.66, 8.16),
 ('India', 2, 183.15, 91.58, 8.72),
 ('Portugal', 2, 185.13, 92.57, 6.38),
 ('USA', 13, 1040.49, 80.04, 7.94),
 ('United Kingdom', 3, 245.52, 81.84, 8.77),
 ('Other', 15, 1094.94, 73.0, 7.45)]

In [17]:
%%sql
WITH
joined AS
(
SELECT il.*, t.* FROM invoice_line il
INNER JOIN track t ON t.track_id = il.track_id
)



SELECT invoice_id FROM invoice_line
EXCEPT
SELECT album_id FROM track

 * sqlite:///chinook.db
Done.

[(348,),
 (349,),
 (350,),
 (351,),
 (352,),
 (353,),
 (354,),
 (355,),
 (356,),
 (357,),
 (358,),
 (359,),
 (360,),
 (361,),
 (362,),
 (363,),
 (364,),
 (365,),
 (366,),
 (367,),
 (368,),
 (369,),
 (370,),
 (371,),
 (372,),
 (373,),
 (374,),
 (375,),
 (376,),
 (377,),
 (378,),
 (379,),
 (380,),
 (381,),
 (382,),
 (383,),
 (384,),
 (385,),
 (386,),
 (387,),
 (388,),
 (389,),
 (390,),
 (391,),
 (392,),
 (393,),
 (394,),
 (395,),
 (396,),
 (397,),
 (398,),
 (399,),
 (400,),
 (401,),
 (402,),
 (403,),
 (404,),
 (405,),
 (406,),
 (407,),
 (408,),
 (409,),
 (410,),
 (411,),
 (412,),
 (413,),
 (414,),
 (415,),
 (416,),
 (417,),
 (418,),
 (419,),
 (420,),
 (421,),
 (422,),
 (423,),
 (424,),
 (425,),
 (426,),
 (427,),
 (428,),
 (429,),
 (430,),
 (431,),
 (432,),
 (433,),
 (434,),
 (435,),
 (436,),
 (437,),
 (438,),
 (439,),
 (440,),
 (441,),
 (442,),
 (443,),
 (444,),
 (445,),
 (446,),
 (447,),
 (448,),
 (449,),
 (450,),
 (451,),
 (452,),
 (453,),
 (454,),
 (455,),
 (456,),
 (457,),
 (458,),
 (459,),
 (460,),
 (461,),
 (462,),
 (463,),
 (464,),
 (465,),
 (466,),
 (467,),
 (468,),
 (469,),
 (470,),
 (471,),
 (472,),
 (473,),
 (474,),
 (475,),
 (476,),
 (477,),
 (478,),
 (479,),
 (480,),
 (481,),
 (482,),
 (483,),
 (484,),
 (485,),
 (486,),
 (487,),
 (488,),
 (489,),
 (490,),
 (491,),
 (492,),
 (493,),
 (494,),
 (495,),
 (496,),
 (497,),
 (498,),
 (499,),
 (500,),
 (501,),
 (502,),
 (503,),
 (504,),
 (505,),
 (506,),
 (507,),
 (508,),
 (509,),
 (510,),
 (511,),
 (512,),
 (513,),
 (514,),
 (515,),
 (516,),
 (517,),
 (518,),
 (519,),
 (520,),
 (521,),
 (522,),
 (523,),
 (524,),
 (525,),
 (526,),
 (527,),
 (528,),
 (529,),
 (530,),
 (531,),
 (532,),
 (533,),
 (534,),
 (535,),
 (536,),
 (537,),
 (538,),
 (539,),
 (540,),
 (541,),
 (542,),
 (543,),
 (544,),
 (545,),
 (546,),
 (547,),
 (548,),
 (549,),
 (550,),
 (551,),
 (552,),
 (553,),
 (554,),
 (555,),
 (556,),
 (557,),
 (558,),
 (559,),
 (560,),
 (561,),
 (562,),
 (563,),
 (564,),
 (565,),
 (566,),
 (567,),
 (568,),
 (569,),
 (570,),
 (571,),
 (572,),
 (573,),
 (574,),
 (575,),
 (576,),
 (577,),
 (578,),
 (579,),
 (580,),
 (581,),
 (582,),
 (583,),
 (584,),
 (585,),
 (586,),
 (587,),
 (588,),
 (589,),
 (590,),
 (591,),
 (592,),
 (593,),
 (594,),
 (595,),
 (596,),
 (597,),
 (598,),
 (599,),
 (600,),
 (601,),
 (602,),
 (603,),
 (604,),
 (605,),
 (606,),
 (607,),
 (608,),
 (609,),
 (610,),
 (611,),
 (612,),
 (613,),
 (614,)]

In [21]:
%%sql 
WITH
joined AS
(
SELECT il.*, t.* FROM invoice_line il
INNER JOIN track t ON t.track_id = il.track_id
)


SELECT invoice_id,
        MIN(track_id) first_track_id
FROM joined
GROUP BY 1

 * sqlite:///chinook.db
Done.

[(1, 1158),
 (2, 201),
 (3, 2516),
 (4, 748),
 (5, 1986),
 (6, 30),
 (7, 42),
 (8, 81),
 (9, 196),
 (10, 2663),
 (11, 610),
 (12, 92),
 (13, 2553),
 (14, 541),
 (15, 807),
 (16, 16),
 (17, 55),
 (18, 1027),
 (19, 105),
 (20, 60),
 (21, 13),
 (22, 383),
 (23, 1),
 (24, 1146),
 (25, 32),
 (26, 85),
 (27, 1280),
 (28, 36),
 (29, 479),
 (30, 33),
 (31, 2731),
 (32, 38),
 (33, 2542),
 (34, 610),
 (35, 6),
 (36, 153),
 (37, 698),
 (38, 154),
 (39, 184),
 (40, 108),
 (41, 153),
 (42, 13),
 (43, 918),
 (44, 3052),
 (45, 102),
 (46, 2639),
 (47, 8),
 (48, 58),
 (49, 146),
 (50, 1511),
 (51, 34),
 (52, 2664),
 (53, 207),
 (54, 1773),
 (55, 155),
 (56, 2254),
 (57, 2948),
 (58, 1029),
 (59, 198),
 (60, 46),
 (61, 2609),
 (62, 97),
 (63, 6),
 (64, 38),
 (65, 539),
 (66, 442),
 (67, 9),
 (68, 61),
 (69, 85),
 (70, 2307),
 (71, 2254),
 (72, 30),
 (73, 2391),
 (74, 1743),
 (75, 22),
 (76, 1020),
 (77, 15),
 (78, 33),
 (79, 1902),
 (80, 3400),
 (81, 545),
 (82, 54),
 (83, 1163),
 (84, 3455),
 (85, 1298),
 (86, 2291),
 (87, 1129),
 (88, 1995),
 (89, 1784),
 (90, 2554),
 (91, 94),
 (92, 1414),
 (93, 20),
 (94, 50),
 (95, 27),
 (96, 453),
 (97, 16),
 (98, 419),
 (99, 2591),
 (100, 996),
 (101, 83),
 (102, 33),
 (103, 1029),
 (104, 1508),
 (105, 751),
 (106, 2),
 (107, 1),
 (108, 58),
 (109, 340),
 (110, 81),
 (111, 48),
 (112, 1479),
 (113, 134),
 (114, 1479),
 (115, 84),
 (116, 21),
 (117, 4),
 (118, 3111),
 (119, 1556),
 (120, 17),
 (121, 32),
 (122, 28),
 (123, 2003),
 (124, 470),
 (125, 45),
 (126, 42),
 (127, 2),
 (128, 836),
 (129, 12),
 (130, 1573),
 (131, 920),
 (132, 2234),
 (133, 37),
 (134, 204),
 (135, 1221),
 (136, 1157),
 (137, 43),
 (138, 2271),
 (139, 781),
 (140, 468),
 (141, 2621),
 (142, 23),
 (143, 479),
 (144, 158),
 (145, 1422),
 (146, 1466),
 (147, 56),
 (148, 24),
 (149, 28),
 (150, 1021),
 (151, 605),
 (152, 1030),
 (153, 2406),
 (154, 2649),
 (155, 94),
 (156, 1882),
 (157, 3336),
 (158, 1050),
 (159, 153),
 (160, 36),
 (161, 55),
 (162, 899),
 (163, 768),
 (164, 913),
 (165, 59),
 (166, 56),
 (167, 484),
 (168, 58),
 (169, 18),
 (170, 157),
 (171, 1466),
 (172, 1185),
 (173, 2285),
 (174, 422),
 (175, 1755),
 (176, 1114),
 (177, 1039),
 (178, 1102),
 (179, 39),
 (180, 1150),
 (181, 1470),
 (182, 86),
 (183, 1033),
 (184, 3409),
 (185, 991),
 (186, 826),
 (187, 1037),
 (188, 1455),
 (189, 2191),
 (190, 833),
 (191, 24),
 (192, 130),
 (193, 2548),
 (194, 1476),
 (195, 51),
 (196, 1325),
 (197, 592),
 (198, 1121),
 (199, 2008),
 (200, 15),
 (201, 3288),
 (202, 1747),
 (203, 6),
 (204, 14),
 (205, 1829),
 (206, 224),
 (207, 470),
 (208, 151),
 (209, 1495),
 (210, 18),
 (211, 39),
 (212, 1121),
 (213, 2271),
 (214, 80),
 (215, 1019),
 (216, 461),
 (217, 2554),
 (218, 894),
 (219, 897),
 (220, 1745),
 (221, 19),
 (222, 1029),
 (223, 2621),
 (224, 20),
 (225, 32),
 (226, 1132),
 (227, 468),
 (228, 531),
 (229, 58),
 (230, 15),
 (231, 154),
 (232, 6),
 (233, 9),
 (234, 2562),
 (235, 1129),
 (236, 164),
 (237, 2375),
 (238, 2271),
 (239, 2254),
 (240, 1774),
 (241, 2289),
 (242, 61),
 (243, 54),
 (244, 1026),
 (245, 1015),
 (246, 55),
 (247, 2639),
 (248, 152),
 (249, 1470),
 (250, 435),
 (251, 30),
 (252, 1),
 (253, 1121),
 (254, 183),
 (255, 529),
 (256, 1491),
 (257, 2285),
 (258, 1990),
 (259, 29),
 (260, 77),
 (261, 58),
 (262, 77),
 (263, 62),
 (264, 1187),
 (265, 109),
 (266, 1170),
 (267, 1997),
 (268, 13),
 (269, 3144),
 (270, 23),
 (271, 2271),
 (272, 61),
 (273, 1479),
 (274, 402),
 (275, 268),
 (276, 3300),
 (277, 128),
 (278, 1468),
 (279, 1184),
 (280, 3081),
 (281, 1902),
 (282, 891),
 (283, 95),
 (284, 194),
 (285, 134),
 (286, 1748),
 (287, 2004),
 (288, 2),
 (289, 16),
 (290, 438),
 (291, 165),
 (292, 162),
 (293, 802),
 (294, 18),
 (295, 1491),
 (296, 1466),
 (297, 2207),
 (298, 34),
 (299, 1042),
 (300, 51),
 (301, 5),
 (302, 77),
 (303, 43),
 (304, 11),
 (305, 2178),
 (306, 49),
 (307, 38),
 (308, 2964),
 (309, 1094),
 (310, 29),
 (311, 32),
 (312, 58),
 (313, 1454),
 (314, 31),
 (315, 1445),
 (316, 1050),
 (317, 3288),
 (318, 26),
 (319, 62),
 (320, 3319),
 (321, 2607),
 (322, 13),
 (323, 1125),
 (324, 31),
 (325, 1943),
 (326, 135),
 (327, 6),
 (328, 481),
 (329, 3299),
 (330, 1133),
 (331, 36),
 (332, 476),
 (333, 1006),
 (334, 1942),
 (335, 2391),
 (336, 2358),
 (337, 804),
 (338, 1523),
 (339, 696),
 (340, 1051),
 (341, 1520),
 (342, 1679),
 (343, 161),
 (344, 1479),
 (345, 35),
 (346, 151),
 (347, 16),
 (348, 9),
 (349, 1712),
 (350, 1017),
 (351, 26),
 (352, 2433),
 (353, 162),
 (354, 1387),
 (355, 13),
 (356, 51),
 (357, 469),
 (358, 93),
 (359, 35),
 (360, 2367),
 (361, 1991),
 (362, 695),
 (363, 433),
 (364, 10),
 (365, 157),
 (366, 195),
 (367, 154),
 (368, 952),
 (369, 514),
 (370, 922),
 (371, 2410),
 (372, 529),
 (373, 139),
 (374, 469),
 (375, 1268),
 (376, 615),
 (377, 49),
 (378, 1056),
 (379, 2542),
 (380, 475),
 (381, 1133),
 (382, 43),
 (383, 486),
 (384, 152),
 (385, 1),
 (386, 45),
 (387, 337),
 (388, 999),
 (389, 3064),
 (390, 1988),
 (391, 80),
 (392, 1853),
 (393, 80),
 (394, 15),
 (395, 757),
 (396, 822),
 (397, 781),
 (398, 2506),
 (399, 1146),
 (400, 40),
 (401, 13),
 (402, 1127),
 (403, 52),
 (404, 1174),
 (405, 542),
 (406, 1460),
 (407, 2204),
 (408, 1043),
 (409, 1021),
 (410, 131),
 (411, 6),
 (412, 261),
 (413, 2690),
 (414, 1),
 (415, 29),
 (416, 1048),
 (417, 4),
 (418, 2755),
 (419, 33),
 (420, 999),
 (421, 1),
 (422, 82),
 (423, 7),
 (424, 1495),
 (425, 1483),
 (426, 43),
 (427, 23),
 (428, 1013),
 (429, 828),
 (430, 1788),
 (431, 160),
 (432, 94),
 (433, 27),
 (434, 27),
 (435, 426),
 (436, 77),
 (437, 301),
 (438, 151),
 (439, 423),
 (440, 88),
 (441, 1079),
 (442, 572),
 (443, 13),
 (444, 2229),
 (445, 411),
 (446, 1),
 (447, 2285),
 (448, 186),
 (449, 1479),
 (450, 424),
 (451, 3044),
 (452, 572),
 (453, 9),
 (454, 1986),
 (455, 836),
 (456, 6),
 (457, 1562),
 (458, 3473),
 (459, 226),
 (460, 51),
 (461, 160),
 (462, 6),
 (463, 38),
 (464, 38),
 (465, 149),
 (466, 73),
 (467, 154),
 (468, 2149),
 (469, 2232),
 (470, 94),
 (471, 2368),
 (472, 697),
 (473, 2690),
 (474, 479),
 (475, 32),
 (476, 12),
 (477, 346),
 (478, 1479),
 (479, 419),
 (480, 1033),
 (481, 475),
 (482, 27),
 (483, 21),
 (484, 1424),
 (485, 1434),
 (486, 82),
 (487, 16),
 (488, 1902),
 (489, 1865),
 (490, 794),
 (491, 2558),
 (492, 532),
 (493, 536),
 (494, 3288),
 (495, 1019),
 (496, 1),
 (497, 1141),
 (498, 1780),
 (499, 1009),
 (500, 46),
 (501, 1466),
 (502, 158),
 (503, 409),
 (504, 4),
 (505, 3424),
 (506, 1479),
 (507, 82),
 (508, 152),
 (509, 26),
 (510, 2285),
 (511, 149),
 (512, 807),
 (513, 93),
 (514, 1176),
 (515, 2696),
 (516, 1039),
 (517, 36),
 (518, 1551),
 (519, 477),
 (520, 16),
 (521, 992),
 (522, 800),
 (523, 79),
 (524, 444),
 (525, 6),
 (526, 436),
 (527, 36),
 (528, 1479),
 (529, 3375),
 (530, 2231),
 (531, 2650),
 (532, 63),
 (533, 2165),
 (534, 10),
 (535, 1033),
 (536, 419),
 (537, 1853),
 (538, 426),
 (539, 3284),
 (540, 3467),
 (541, 48),
 (542, 1121),
 (543, 707),
 (544, 421),
 (545, 225),
 (546, 150),
 (547, 901),
 (548, 4),
 (549, 61),
 (550, 1122),
 (551, 1121),
 (552, 904),
 (553, 2102),
 (554, 517),
 (555, 1415),
 (556, 2461),
 (557, 608),
 (558, 103),
 (559, 900),
 (560, 1025),
 (561, 739),
 (562, 44),
 (563, 1617),
 (564, 1129),
 (565, 21),
 (566, 1788),
 (567, 432),
 (568, 17),
 (569, 6),
 (570, 1521),
 (571, 93),
 (572, 1134),
 (573, 21),
 (574, 85),
 (575, 897),
 (576, 9),
 (577, 23),
 (578, 2664),
 (579, 3),
 (580, 79),
 (581, 3375),
 (582, 891),
 (583, 3467),
 (584, 2962),
 (585, 49),
 (586, 20),
 (587, 94),
 (588, 18),
 (589, 2271),
 (590, 1362),
 (591, 162),
 (592, 465),
 (593, 57),
 (594, 476),
 (595, 46),
 (596, 12),
 (597, 46),
 (598, 1000),
 (599, 19),
 (600, 1006),
 (601, 14),
 (602, 164),
 (603, 481),
 (604, 1755),
 (605, 1128),
 (606, 2003),
 (607, 30),
 (608, 3060),
 (609, 1636),
 (610, 814),
 (611, 57),
 (612, 2204),
 (613, 1126),
 (614, 2650)]